.event-card{
    transition: transform .5s;
}
.event-card:hover{
    box-shadow: 5px 5px 10px gray;
    -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}